:root {
  /********************* COLORS *******************/
  --darkPurple: #24053e;
  --davysGrey: #584d62;
  --eucalyptus: #44ffa1;
  --ghostWhite: #fcf8ff;
  --white: #ffffff;

  /****************** FONT FAMILIES ***************/
  --fraunces: "Fraunces 144pt", serif;
  --manrope: "Manrope", sans-serif;

  /****************** FONT WEIGHTS ****************/
  --fw400: 400;
  --fw600: 600;
  --fw700: 700;
}

/******************** GENERAL *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

/********** HEADER ************/
.header-container,
.hero-section {
  background-color: var(--darkPurple);
}

.header-container {
  padding: 3.2rem 1.6rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  text-decoration: none;
  border-bottom: 0.35rem solid var(--eucalyptus);
  font-family: var(--manrope);
  font-weight: var(--fw700);
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--white);
  letter-spacing: -0.016rem;
}

/******** HERO SECTION ********/
.hero-text {
  font-family: var(--fraunces);
  font-weight: var(--fw600);
  font-size: 5rem;
  line-height: 5rem;
  margin: 0 1.6rem 4rem;
  color: var(--white);
  text-align: center;
}

.tailored-text {
  display: inline-block;
  border-bottom: 0.35rem solid var(--eucalyptus);
}

.btn {
  display: block;
  margin: 0 auto;
  font-family: var(--manrope);
  font-weight: var(--fw700);
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: -0.016rem;
  text-align: center;
  background-color: var(--eucalyptus);
  border: none;
  padding: 1.2rem 2.4rem;
  color: var(--darkPurple);
  margin-bottom: 2rem;
}

.hero-section {
  border-radius: 50% / 5%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
  padding-bottom: 13rem;
}

.hero-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;
  max-width: 100%;
  max-height: 29.6rem;
  display: block;
  padding-left: 3.6rem;
  padding-right: 1.93rem;
}

/******* FEATURES SECTION ******/
.features-section {
  background-color: var(--ghostWhite);
  /* padding: 17.5rem 1.6rem 7.1rem; */
  padding: 46.6% 1.6rem 7.1rem;
  border-radius: 50% / 3%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: -1.5rem;
}

.features-section-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.feature-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 0.12rem solid var(--darkPurple);
  margin-bottom: 2.4rem;
}

.number {
  font-family: var(--fraunces);
  font-weight: var(--fw600);
  font-size: 2rem;
  line-height: 3.6rem;
  color: var(--darkPurple);
}

.feature-name {
  font-family: var(--fraunces);
  font-weight: var(--fw600);
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: var(--darkPurple);
  margin-bottom: 1.6rem;
}

.feature-info {
  font-family: var(--manrope);
  font-weight: var(--fw400);
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--davysGrey);
  text-align: center;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******* FOUNDER SECTION *******/
.founder-section {
  padding: 10rem 1.6rem 0;
}

.founder-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 28.1rem;
  padding: 0 3.1rem 0;
}

.apply-container {
  background: var(--darkPurple);
  padding: 3.2rem 3.1rem;
  position: relative;
  margin-top: -5.4rem;
}

.apply-header {
  font-family: var(--fraunces);
  font-weight: var(--fw600);
  font-size: 3.2rem;
  line-height: 4.8rem;
  text-align: center;
  color: var(--white);
  margin-bottom: 1.6rem;
}

.apply-paragraph {
  font-family: var(--manrope);
  font-weight: var(--fw400);
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--white);
  margin-bottom: 2.4rem;
}

.apply-btn {
  margin-bottom: 0;
}

/************ FOOTER ***********/
.footer-section {
  margin-top: 7.4rem;
  padding-bottom: 6.3rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 5.7rem;
  max-width: 11.6rem;
  margin: 0 auto;
}

.workit-logo.dark {
  display: block;
  margin: 0 auto;
}

.workit-footer-link {
  z-index: 1;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******** HOVER STATES *********/
.header-link:is(:hover, :focus) {
  color: var(--eucalyptus);
}

.btn:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--darkPurple);
  color: var(--eucalyptus);
  box-shadow: 0 0 0 0.2rem var(--eucalyptus);
}

.social-media-icon path:is(:hover, :focus) {
  fill: var(--darkPurple);
}

/****** HERO IMAGE QUERIES  *****/

/************* 570px *************/
@media (min-width: 35.625em) {
  .features-section {
    padding-top: 27rem;
  }
}

/****** TABLET MEDIA QUERY ******/

/************* 768px ************/
@media (min-width: 48em) {
  /*********** HEADER ***********/
  .header-container {
    padding: 3.2rem 4rem 5.6rem;
  }

  /******** HERO SECTION ********/
  .hero-text {
    font-size: 6rem;
    line-height: 6rem;
    margin: 0 9.8rem 3.9rem;
    padding: 0 2rem;
  }

  .btn {
    margin-bottom: 0;
  }

  .hero-section {
    padding-bottom: 20.3rem;
    border-radius: 100% / 20%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    position: relative;
  }

  .hero-img {
    padding: 0 10.3rem 0 15.1rem;
    top: 67%;
  }

  .hero-text::after {
    content: url("starter-code/assets/images/bg-pattern-1.svg");
    max-width: 100%;
    position: absolute;
    top: -4.6rem;
    left: -22.7rem;
  }

  .hero-btn::after {
    content: url("starter-code/assets/images/bg-pattern-2.svg");
    max-width: 100%;
    position: absolute;
    top: 130rem;
    right: -9.5rem;
  }

  /******* FEATURES SECTION *****/
  .features-section {
    margin-top: -4rem;
    padding: 25.3rem 9.8rem 10.3rem;
    border-radius: 100% / 10%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    gap: 4.8rem;
  }

  .feature-container {
    display: grid;
    grid-template-columns: 1fr 12fr;
    gap: 1.6rem 3.2rem;
    align-items: stretch;
  }

  .feature-number-container {
    grid-row: 2 / 3;
    width: 4.8rem;
    height: 4.6rem;
    margin: -0.9rem 0 0 0;
  }

  .feature-name {
    grid-column: 2 / -1;
    margin-bottom: 0;
  }

  .feature-info {
    grid-column: 2 / -1;
    text-align: left;
  }

  /******* FOUNDER SECTION ******/
  .founder-section {
    padding: 10rem 4rem 0;
  }

  .founder-section-container {
    width: 68.9rem;
    height: 52.6rem;
    margin: 0 auto;
  }

  .founder-img {
    margin: 0;
    padding: 0;
    width: 28.1rem;
    height: 28.1rem;
  }

  .apply-container {
    padding: 4.8rem 5.6rem 5.6rem;
    width: 51.4rem;
    height: 37.5rem;
    top: -7.5rem;
    left: 17.5rem;
  }

  .apply-header {
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-align: left;
    margin-bottom: 2.4rem;
  }

  .apply-paragraph {
    text-align: left;
  }

  .apply-btn {
    margin: 0;
  }

  .apply-container::after {
    content: url("starter-code/assets/images/bg-pattern-3.svg");
    max-width: 100%;
    position: relative;
    top: -5rem;
    left: 22.5rem;
  }

  /************ FOOTER **********/
  .footer-section {
    margin-top: 8rem;
    padding-bottom: 12.1rem;
  }
}

/******* DESKTOP MEDIA QUERY *****/

/************* 1440px ************/
@media (min-width: 90em) {
  /************ HEADER ***********/
  .header-container {
    padding: 5.7rem 16.5rem 5.6rem;
  }

  .header-link {
    font-size: 1.8rem;
    letter-spacing: -0.018rem;
  }

  /********* HERO SECTION ********/
  .hero-text {
    font-size: 8rem;
    line-height: 8rem;
    margin: 0 40.3rem 3.7rem;
  }

  .btn {
    font-size: 1.8rem;
    letter-spacing: -0.018rem;
    padding: 1.4rem 2.8rem;
  }

  .hero-section {
    padding-bottom: 32.6rem;
    border-radius: 60% / 15%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .hero-img {
    padding: 0 31.2rem 0 36.1rem;
    max-height: 44.1rem;
    top: 54%;
  }

  .hero-text::after {
    top: -3rem;
    left: -14rem;
  }

  .hero-btn::after {
    top: 15.5rem;
    right: -4.8rem;
  }

  /******* FEATURES SECTION ******/
  .features-section {
    margin-top: -10rem;
    padding: 35.5rem 16.1rem 17.1rem 16.5rem;
    border-radius: 60% / 11%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .features-section-container {
    display: flex;
    flex-direction: row;
    gap: 2.6rem;
    margin: 0 auto;
    max-width: 111.5rem;
  }

  .feature-container {
    display: flex;
    gap: 0;
  }

  .feature-number-container {
    width: 5.6rem;
    height: 5.6rem;
    margin: 0 auto 5.6rem;
  }

  .number {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .feature-name {
    text-align: center;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 2.8rem;
  }

  .feature-info {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: var(--darkPurple);
    width: 35.4rem;
  }

  /******** FOUNDER SECTION ******/
  .founder-section {
    padding: 11rem 16.5rem 0 16.3rem;
  }

  .founder-section-container {
    margin: 0 auto;
    width: 111.2rem;
    height: 64.7rem;
  }

  .founder-img {
    width: 47.7rem;
    height: 47.7rem;
  }

  .apply-container {
    width: 73rem;
    height: 41.3rem;
    padding: 6.4rem;
    top: -25rem;
    left: 37.9rem;
  }

  .apply-header {
    font-size: 5.6rem;
    line-height: 6.4rem;
    margin-bottom: 3.2rem;
  }

  .apply-paragraph {
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-bottom: 3.2rem;
  }

  .apply-container::after {
    top: -8.5rem;
    left: 37.5rem;
  }

  .apply-btn {
    padding: 1.2rem 2.4rem;
  }

  /************ FOOTER ***********/
  .footer-section {
    margin-top: 6rem;
    padding-bottom: 11rem;
  }
}
